%h2 Available Items
%table.table
  %tr
    %th
      Name
    %th
      Description
    %th
      Download Link
    %th
      Delete
  - for item in @items do
    %tr
      %td
        = item.name
      %td
        = item.description
      %td
        = link_to 'Download', item.file.url(:original, false)
      %td
        = link_to 'Delete', "/items/#{ item.id}", :method => :delete
.span12
  .p
    = link_to 'Create New Item' , new_item_path(:category => @category.id), :class => "btn btn-primary"
    = link_to 'Back', '/', :class => "btn btn-primary"
